
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.resume button{
    align-items: center;
    display: center;
    padding: 1 1rem;
}

.nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.site-title {
    font-size: 2rem;
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    background-color: #555;
}

.nav li:hover{
    background-color: #777;
}

.social-container {
    background: #eee;
    padding: 25px 25px;
}

a.social {
  margin: 1 1rem;
  transition: transform 250ms;
  display: inline-block;
  padding: 25px 25px;
}

a.social:hover {
  transform: translateY(-2px);
}

a.linkedin {
  color: #0077b5;
  padding-left: 10px;
  padding-right: 10px;
}

a.youtube {
  color: #eb3223;
  padding-left: 10px;
  padding-right: 10px;
}

a.github {
  color: #333;
  padding-left: 10px;
  padding-right: 10px;
}

.mavic2{
  position: relative; 
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mavic2::before {
  object-fit: fill;
  content: "";
  background-image: url('./components/documents/pictures/drone/mavic_2_profile_v3.jpg');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

.mavic2 h1 {
  position: relative;
  text-align: center;
  color: #ffffff;  
  font-size: 5rem;
  line-height: 0.9;
  text-align: center;
  opacity: 1;
}

.imageGallery {
  gap: 50px;
  row-gap: 20px;
  column-gap: 20px;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}